<hr color='red'>
<h1><%=@employee.first_name%></h1>
<hr color='red'>
<img src="<%=@employee.img_url%>">
<hr color='red'>
<h2>
First Name: <%=@employee.first_name%><br>
Last Name: <%=@employee.last_name%><br>
Alias: <%=@employee.alias%><br>
Title: <%=@employee.title%><br>
Office: <%=@employee.office%><br>
</h2>